<% provide(:title, "包团订单") %>

<div id="content-header">
  <h1>包团订单</h1>
</div>

<div class="content-fluid" style="margin: 79px;">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"><%= link_to "新增", new_packageorder_path, class: "btn btn-primary" %>
            </div>
        <div class="widget-content nopadding">
                <table id="packageorders" class="display" data-source="<%= packageorders_url(:format => "json") %>">
                        <thead>
                               <tr>
                              <th>ID</th>
                              <th>团号</th>
                              <th>出发日期</th>
                              <th>地接日期</th>
                              <th>组团社</th>
                              <th>客人名单/人数</th>
                              <th>行程</th>
                              <th>合同价|结算价</th>
                              <th>西藏报价|结算价</th>
                              <th>去大交通</th>
                              <th>回大交通</th>
                              <th>成都成本</th>
                              <th>已成团</th>
                              <th>销售</th>
                              <th>操作</th>
                                </tr>
                        </thead>
                 <tbody>
                   </tbody>
                 </table>

           </div>
        </div>
      </div>
    </div>
  </div>
<script src="/assets/jquery-1.11.3.min.js"></script>
<script src="/assets/jquery.dataTables.min.js"></script>
