<% provide(:title, "销售员统计") %>

<div id="content-header">
  <h1>销售员统计</h1>
</div>
<div class="content-fluid" style="margin: 79px;">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"><span class="icon"> <i class="icon-briefcase"></i> </span>
                    <%= link_to "新增", new_salescount_path, class: "btn btn-primary" %>
                  </div>
                    <div class="widget-content">
                        <div class="row-fluid">
                              <table id="salescounts" class="display" data-source="<%= salescounts_url(:format => "json") %>">
                                  <thead>
                                    <tr>
                                      <th>姓名</th>
                                      <th>金额</th>
                                      <th>人数</th>
                                      <th>利润</th>
                                      <th>当前已收</th>
                                      <th>未收款</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                                </table>
                        </div>
                    </div>
              </div>
            </div>
        </div>
</div>