<% provide(:title, "旅游线路") %>

<div id="content-header">
  <h1>旅游线路</h1>
</div>
<div class="content-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"><span class="icon"> <i class="icon-briefcase"></i> </span>
                    <%= link_to "新增", new_linelist_path, class: "btn btn-primary" %>
                  </div>
                    <div class="widget-content">
                        <div class="row-fluid">
                              <table id="linelists" class="display" data-source="<%= linelists_url(:format => "json") %>">
                                  <thead>
                                    <tr>
                                      <th>ID</th>
                                      <th>编码</th>
                                      <th>天数</th>
                                      <th>线路名称</th>
                                      <th>行程</th>
                                      <th>主配图</th>
                                      <th>文档</th>
                                      <th>价格发布</th>
                                      <th>修改人</th>
                                      <th>销售中</th>
                                      <th>操作</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                              </table>
                        </div>
                    </div>
              </div>
            </div>
        </div>
</div>
