<% provide(:title, "火车票订单") %>

<div id="content-header">
  <h1>火车票订单</h1>
</div>
<div class="content-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"><%= link_to "新增", new_trainticket_path, class: "btn btn-primary" %>
          </div>
                    <div class="widget-content nopadding">
                              <table id="traintickets" class="display" data-source="<%= traintickets_url(:format => "json") %>">
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>类别</th>
                                    <th>订单ID</th>
                                    <th>小团号</th>
                                    <th>出发日期</th>
                                    <th>行程</th>
                                    <th>联运</th>
                                    <th>出票地</th>
                                    <th>游客姓名</th>
                                    <th>身份证</th>
                                    <th>票面</th>
                                    <th>难度</th>
                                    <th>座位1</th>
                                    <th>座位2</th>
                                    <th>备注</th>
                                    <th>报票人</th>
                                    <th>报票备注</th>
                                    <th>票况</th>
                                    <th>具体状态</th>
                                    <th>操作</th>
                                  </tr>
                                </thead>
                                <tbody>
                                </tbody>
                              </table>
                    </div>
              </div>
            </div>
        </div>
</div>
