
<div class="footer">
    <div class="m-div">
        <div class="clear">
        
           <div class="copyright">
            版权所有 © 2015-2016 忆游假期  并保留所有权利   Copyright ChengDu . ALL Rights Reserved
             </div>
         </div>
     </div>
</div>

<a class="up2top" href="#" style="display: inline;"></a>
<div id="ui-dialog-win" class="dialog-div dialog-mini dialog-form-check"></div>
<script src="/assets/m.js"></script>
