      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src='/assets/User.jpg' class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Oliver Deng</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
                <li class="header">页面导航</li>

                <li class="treeview">
                    <a href="#">
                      <i class="fa fa-files-o"></i>
                      <span>销售部门</span>
                      <span class="label label-primary pull-right">7</span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href='/linelists'><i class="fa fa-circle-o"></i> 线路管理</a></li>
                      <li><a href='/packageorders'><i class="fa fa-circle-o"></i> 包团订单</a></li>
                      <li><a href='/fitorders'><i class="fa fa-circle-o"></i> 散客订单</a></li>
                      <li><a href='/salescounts'><i class="fa fa-circle-o"></i> 销售员业务</a></li>
                      <li><a href='/netprofits'><i class="fa fa-circle-o"></i> 净利润表</a></li>
                      <li><a href='#'><i class="fa fa-circle-o"></i> 按月订单汇总</a></li> 
                    </ul>
                </li>
                
                <li class="treeview">
                    <a href="#">
                      <i class="fa fa-th"></i>
                      <span>票务部门</span>
                      <span class="label label-primary pull-right">5</span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href='/travelinfos'><i class="fa fa-circle-o"></i> 去程线路</a></li>
                      <li><a href='/returninfos'><i class="fa fa-circle-o"></i> 归程线路</a></li>
                      <li><a href='/traintickets'><i class="fa fa-circle-o"></i> 火车票订单</a></li>
                      <li><a href='/planetickets'><i class="fa fa-circle-o"></i> 飞机票订单</a></li>
                      <li><a href='/netprofits'><i class="fa fa-circle-o"></i> 利润汇总</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                      <i class="fa fa-pie-chart"></i>
                      <span>财务部门</span>
                      <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href='/finances'><i class="fa fa-circle-o"></i> 财务统计</a></li>
                    </ul>
                </li>  
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>